@page "/"
@using System.Timers
@inject IJSRuntime JSRuntime


<div class="index-container">
    <GameBoard @ref="_gameBoard" />
    <GameControls OnStart="StartGame" OnStop="StopGame" OnReset="ResetGame" />
</div>

<style>
    .index-container {
        padding: 20px;
        background: linear-gradient(135deg, #f3f3f3, #e0e0e0);  
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
</style>

@code {

    private GameBoard _gameBoard;
    private Timer _timer;

    protected override void OnInitialized()
    {
        _timer = new Timer(500);
        _timer.Elapsed += (sender, args) =>
        {
            _gameBoard.AdvanceToNextGeneration();
            StateHasChanged();
        };
    }

    private void StartGame()
    {
        _timer.Start();
    }

    private void StopGame()
    {
        _timer.Stop();
    }

    private void ResetGame()
    {
        _timer.Stop();
        _gameBoard.ResetBoard();
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

}


