@inherits LayoutComponentBase

<div class="container">
    <div class="header">
        <h1>Game of Life</h1>
    </div>

    <div class="content">
        @Body
    </div>
    
</div>

<style>
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    .header {
        text-align: center;
        padding-bottom: 20px;
    }

    .content {
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .footer {
        text-align: center;
        padding-top: 20px;
    }
</style>